.accordion-header {
  position: relative;
  border-top: 1px solid #e1e8fb;
  img {
    width: 10px;
    transform: rotate(90deg);
  }
  div {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    .title {
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.accordion-initiator{
  cursor: pointer;

}

.accordion {
  div:last-child {
    .accordion-header {
      border-bottom: 1px solid #e1e8fb;
    }
  }
}

.accordion-body {
  display: none;
}

.accordion-header {
  img {
    transform: rotate(0deg);
  }
}

.accordion-body-active {
  margin-top: 15px;
  padding-bottom: 30px;
  display: block;
}
.accordion-header-active {
  img {
    transform: rotate(180deg);
  }
}

.hide-last-border::after {
  display: none;
}
