@use "./two_section_header";
@use "../utils/size";

@mixin content-width(){
  .content {
    width: size.$desktop;
  }
  @media only screen and (max-width: size.$desktop) {
    .content {
      width: calc(100% - 40px);

    }
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  @include content-width();
  .main {
    margin-top: 40px;
  }
}

.section-margin {
  margin-top: size.$main_margin;
  @media screen and (max-width: size.$tablet) {
    margin-top: size.$main_margin - 90px;
 }
}

.container-html-bg {
  overflow: hidden;
  position: relative;
  .content-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  @include content-width();
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media screen and (max-width: size.$tablet) {
     padding-bottom: 20px;
  }
}
