@use "../utils/themeColor";

.dropdowns-wrapper {
  position: absolute;
  top: 0;
  z-index: 3;
}


.dropdown-main {
  position: absolute;
  max-width: 390px;
  padding: 8px 4px;
  width: 390px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  z-index: 2;
  top: 100%;
  background-color: #E6EBF2;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: visibility, opacity;
  li:hover {
    .dropdown-link {
      background-color: #D9E0EB;
    }
    visibility: visible;
  }
  .dropdown-item {
    .dropdown-link {
      background-color:#E6EBF2;
      padding: 15px 20px 15px 20px;
      cursor: pointer;
      display: block;
      font-size: 16px;
    }
  }
}

.dropdown:hover > .dropdown-main {
  visibility: visible;
  opacity: 1;
}

.dropdown-main > li > ul {
  background-color: #D9E1EB;
  .dropdown-link{
    background-color: #CFD8E7;
  }
  left: 100%;
  top: 0;
  min-height: 100%;
}

.dropdown-main > li > ul {
  background-color: #D9E1EB;
  .dropdown-link{
    background-color: #CFD8E7;
  }
    left: 100%;
    top: 0;
    min-height: 100%;
}