@use "../components/swiper";
@use "../utils/size";

.swiper-slide {
  padding: 0;
}

.gallery-main {
  height: 690px;
}

.swiper-gallery-thumbs {
  margin-top: 4px;
}

.gallery-thumbs {
  height: 85px;
  width: 100%;
  position: relative;
}

.thumb-overlay {
  transition: opacity 300ms ease;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(15, 100, 218, 0.72),
    rgba(15, 100, 218, 0.72)
  );
  opacity: 0;
}

.gallery-thumbs:hover .thumb-overlay {
  opacity: 1;
}


.slide-active .thumb-overlay{
  opacity: 1;
}
@media screen and (max-width: size.$desktop_small) {
  .gallery-main{
    height: 100%;
  }


}

@media screen and (max-width: size.$tablet) {
  .gallery-thumbs{
    overflow: hidden;
    img{
      top: -50%;
    }
  }
}

@media screen and (max-width: size.$phone) {
  .gallery-thumbs{
    height: auto;

  }
}