@use "../utils/_global.scss";
@use "./container";
@use "./button";
@use "./input";
@use "./divider";
@use "../utils/themeColor";
@use "./logo";
@use "./phone_number";
@use "../components/icons";
@use "../utils/size";
@use "../components/accordion";

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-top {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  .address {
    display: flex;
    align-items: center;
    img {
      width: 13px;
      margin-right: 10px;
    }
    p {
      font-weight: 500;
    }
  }

  .leave-request {
    .button {
      width: 100%;
    }
  }
  .input-form {
    display: flex;
    justify-content: center;
  }
  .hamburger-menu {
    width: 26px;
    height: 12px;

    cursor: pointer;
    display: none;
    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    .item {
      width: 100%;
      transition: all 500ms ease;
      height: 2px;
      background-color: themeColor.$primary;
    }
  }
  .hamburger-menu-active {
    position: relative;
    .body {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      width: 26px;
      height: 26px;
    }
    .item {
      position: absolute;
    }
    .item:nth-child(1) {
      left: -50%;
      transform: rotate(45deg);
    }
    .item:nth-child(2) {
      left: -50%;
      transform: rotate(-45deg);
    }
    .item:nth-child(3) {
      display: none;
    }
  }
  @media screen and (max-width: size.$desktop_medium) {
    .hamburger-menu {
      display: flex;
    }
    .address {
      display: none;
    }
    .input-form {
      display: none;
    }
    .leave-request {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: size.$desktop) {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);

    .address {
      p {
        font-size: 14px;
      }
    }
  }
}

.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  .links {
    display: flex;
    align-items: center;
    .links-list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 40px;
      .link-item {
        list-style-type: none;
        white-space: nowrap;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
        p,
        a {
          font-weight: 500;
          text-decoration: none;
        }
      }
      a:hover {
        color: #245ba7;
      }
    }
  }
  .contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media screen and (max-width: size.$desktop) {
    .links {
      ul {
        gap: 15px;
      }
      li {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: size.$desktop_medium) {
    display: none;
  }
}

header {

  @media screen and (max-width: size.$desktop_medium) {
    .divider-top {
      display: none;
    }
  }
}

.modal-main-links{
  margin-top: 20px;
}
.modal-menu {
  display: none;
  height: calc(100% - 83px);
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 83px;
  z-index: 3;
  background-color: themeColor.$white;
  .input-with-icon {
    width: 100%;
    margin-top: 10px;
  }
  .modal-content-wrapper {
    overflow: auto;
    height: calc(100% - 30px);
    .modal-content{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


.modal-active {
  overflow: hidden;
  .modal-menu{
    display: block;
  }
}

.mobile-links {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile-link {
    a {
      text-decoration: none;
    }
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.accordion-header {
  border: none;
  div {
    padding: 0;
    a {
      font-size: 18px;
    }
  }
}
.accordion-body {
  padding-left: 15px;
  box-sizing: border-box;
  padding-bottom: 0;
}
