.telegram {
  background-image: url("../images/icons/gray/ic_baseline-telegram.svg");
}

.telegram:hover {
  background-image: url("../images/icons/blue/ic_baseline-telegram.svg");
}

.whatsapp {

  background-image: url("../images/icons/gray/ri_whatsapp-fill.svg");
}

.whatsapp:hover {
  background-image: url("../images/icons/blue/ri_whatsapp-fill.svg");
}

.builder-blue{
    background-image:  url("../images/icons/blue/noun-builder.svg");
}

.builder-white{
    background-image:  url("../images/icons/white/noun-builder.svg");
}

.hotel-blue{
    background-image:  url("../images/icons/blue/noun-hotel.svg");
}

.hotel-white{
    background-image:  url("../images/icons/white/noun-hotel.svg");
}

.hospital-blue{
    background-image:  url("../images/icons/blue/noun-hospital-sign.svg");
}

.hospital-white{
    background-image:  url("../images/icons/white/noun-hospital-sign.svg");
}

.factory-blue{
    background-image:  url("../images/icons/blue/ph_factory.svg");
}

.factory-white{
    background-image:  url("../images/icons/white/ph_factory.svg");
}

.left-arrow-white{
  background-image:  url("../images/icons/white/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.left-arrow-gray{
  background-image:  url("../images/icons/gray/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow-blue{
  background-image:  url("../images/icons/blue/left_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.right-arrow-white{
  background-image:  url("../images/icons/white/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.right-arrow-gray{
  background-image:  url("../images/icons/gray/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.right-arrow-blue{
  background-image:  url("../images/icons/blue/right_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;


}
