.paginator-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.paginator{
    display: flex;
    gap: 5px;
    div{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #CAD1EE;
        p{
            display: flex;
            align-items: center;
            font-weight: 600;
        }
        img{
            width: 15px;
            height: 15px;
        }
    }
}