@use "../utils/themeColor";
@use "../components/badge";

.card-product:hover > button{
  display: block;
}

.card-product {
  background-color: themeColor.$secondary;
  padding: 10px;
  .product-image {
    display: flex;
    justify-content: center;
  }
  .product-content {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 13px;
    .product-title {
      div {
        margin-top: 35px;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .product-specs {
      margin-top: 10px;
      margin-bottom: 25px;
      ul {
        li {
          font-size: 14px;
          margin-bottom: 5px;
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  button {
    width: 100%;
    display: none;
  }

}