@use "./themeColor";
@use "./size";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: themeColor.$text-color-contrast;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
  font-size: 42px;
  line-height: 50px;
}

ul {
}
li {
  list-style-type: none;
}

a {
  color: inherit;
  font-family: inherit;
}

@media screen and (max-width: size.$tablet) {
  h2 {
    font-size: 36px;
  }
  h1{
    font-size: 36px; 
  }
}

@media screen and (max-width: size.$phone) {
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

.hide-scroll{ 
  overflow: hidden;
}