@use "../utils/_global.scss";
@use "../utils/themeColor";
@use "../components/header";
@use "../components/overlaping_list";
@use "../components/swiper";
@use "../components/product_card";
@use "../utils/bottom_outlined";
@use "../utils/size";
@use "../components/news_card";
@use "../components/image_overlay";
@use "../components/project_card";
@use "../components/footer";
@use "../components/messenger";
@use "../components/logo";
@use "../components/seo_text";
@use "../components/dropdown";
@use "../components/need_consulation";

.popular-product-swiper {
  .swiper-slide {
    padding-bottom: 90px;
  }
}
.container {
  .main {
    margin-top: 0;
  }
}

.lead-background {
  background-color: themeColor.$secondary;
  overflow: hidden;
  position: relative;
  height: 100%;
  .poly-1 {
    transform: rotate(-75deg);
    transform-origin: center;
    position: absolute;
    width: 2438.45px;
    top: -1100px;
    left: -1150px;
  }
  .poly-2 {
    transform: rotate(15deg);
    transform-origin: center;
    position: absolute;
    height: 713.47px;
    top: -300px;
    right: -1285px;
    width: 2438.45px;
  }
  @media screen and (max-width: size.$desktop_medium) {
    .poly-1 {
      display: none;
    }
    .poly-2 {
      right: -1600px;
    }
  }
  @media screen and (max-width: size.$tablet) {
    .poly-2 {
      right: -1900px;
      top: -30px;
    }
  }
  @media screen and (max-width: size.$phone) {
    .poly-2 {
      right: -2040px;
    }
  }
}

.lead-section {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 600px;
  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text {
      margin-top: 30px;
    }
    .action-button {
      display: grid;
      grid-template-columns: 0.7fr 1fr;
      align-items: center;
      margin-top: 60px;
      gap: 70px;
      div {
        button {
          width: 100%;
        }
      }
      .guarantee {
        display: flex;
        align-items: baseline;
        position: relative;
        font-weight: 600;
      }
      .guarantee::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        border-radius: 50%;
        left: -26px;
        top: 50%;
        transform: translateY(-50%);
        background-color: themeColor.$primary;
      }
    }
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: end;
    .image-wrapper {
      width: 500px;
      height: 450px;
    }
  }

  @media screen and (max-width: size.$desktop_small) {
    .title {
      font-size: 36px;
    }
    .image-wrapper {
      display: flex;
      align-items: center;
    }
    .action {
      .action-button {
        gap: 35px;
        grid-template-columns: 1fr 1fr;
      }
      .guarantee {
        font-size: 14px;
      }
    }
  }
  
  @media screen and (max-width: size.$tablet) {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    .image {
      justify-content: center;
      .image-wrapper{
        width: 350px;
      }
    }
  }
  @media screen and (max-width: size.$phone) {
    .title {
      font-size: 32px;
    }
    .action {
      .action-button {
        display: flex;
        gap: 15px;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        div {
          width: 100%;
        }
      }
      .guarantee {
        margin-left: 26px;
      }
    }
  }
}
.equipment-supply {
  position: relative;
  background-color: themeColor.$secondary;
  .list-wrapper {
    ul {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      li {
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
      }
      .active {
        color: themeColor.$primary;
      }
      .active::after {
        width: 100%;
        height: 2px;
        background-color: themeColor.$primary;
        display: block;
        content: "";
        top: 0;
        position: absolute;
      }
      li:hover {
        ::after {
          width: 100%;
          height: 2px;
          background-color: themeColor.$primary;
          display: block;
          content: "";
          top: 0;
          position: absolute;
        }
        color: themeColor.$primary;
      }
    }
  }
  @media screen and (max-width: size.$desktop_small) {
    .list-wrapper {
      overflow-x: scroll;
      ul {
        justify-content: start;
        gap: 20px;
        width: 1400px;
      }
    }
  }
}

.equipment-supply-bg {
  background-color: themeColor.$secondary;
  width: 100%;
  height: 100%;
}

.for-who {
  margin-top: size.$main_margin;
  .overlaping-list {
    margin-top: 40px;
  }
}

.popular-product {
  margin-top: size.$main_margin;
}

.company-summary-bg {
  background-color: themeColor.$primary;
}
.company-info {
  margin-top: size.$main_margin;
  background-color: themeColor.$primary;
  .company-summary {
    color: themeColor.$white;
    margin-top: size.$main_margin;
    margin-bottom: size.$main_margin;

    .summary-content {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 60px;
      .summary-image {
        .summary-numbers {
          display: grid;
          gap: 40px;
          grid-template-columns: repeat(3, 1fr);
          margin-top: 20px;
          div {
            font-size: 48px;
            font-weight: 500;
          }
        }
        .image-wrapper {
          height: 420px;
          overflow: hidden;
          img {
            transform: translatey(-110px);
          }
        }
      }
      .summary-description {
        .description {
          margin-bottom: 30px;
        }

        .company-video {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          p {
            font-weight: 500;
            display: flex;
            align-items: center;
          }
          .play-video-wrapper{
            display: flex;
            justify-content: end;
          }
          .play-video {
            position: relative;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            .play-icon-wrapper {
              position: relative;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 35px;
              }
            }
            .video-bg {
              position: absolute;
              top: 0;
              z-index: -1;
              height: 100%;
              img {
                height: 100%;
                transform: scale(2);
                object-fit: contain;
              }
            }
          }
        }
      }
      .bottom-outlined {
        padding-bottom: 25px;
      }
    }
  }
  @media screen and (max-width: size.$desktop_medium) {
    .company-summary {
      .summary-content {
        grid-template-columns: 1fr;
        .summary-description {
          .company-video {
            justify-content: center;
            .play-video {
              width: 130px;
              height: 130px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: size.$tablet) {
    .company-summary {
      .summary-content {
        .summary-image {
          .image-wrapper {
            height: fit-content;
            img {
              transform: translate(0);
            }
          }
          .summary-numbers {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}

.customer-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: size.$main_margin;
  margin-bottom: size.$main_margin;
  .card-wrapper:last-child {
    border-right: 1px solid themeColor.$secondary;
  }
  .card {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .customer-info-description {
      display: none;
    }
    p {
      color: themeColor.$white;
    }
    .header {
      display: flex;
      justify-content: space-between;
      margin: 0;
      div {
        font-size: 38px;
        color: themeColor.$white;
        font-weight: 600;
      }
    }
    .star {
      width: 50px;
      height: 50px;
    }
    .truck {
      width: 70px;
      height: 40px;
    }
    .license {
      width: 34px;
      height: 64px;
    }
  }
  .card-wrapper:hover {
    background-color: themeColor.$primary;
    border-color: themeColor.$primary;
  }
  .card-wrapper:hover .customer-info-description {
    display: block;
  }

  .card-wrapper {
    border: 1px solid themeColor.$secondary;
    border-right: none;

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: size.$desktop) {
    .card {
      width: calc(100% - 30px);
      height: calc(100% - 30px);

      .header {
        div {
          font-size: 32px;
        }
      }
      .star {
        width: 40px;
        height: 40px;
      }
      .truck {
        width: 60px;
        height: 30px;
      }
      .license {
        width: 24px;
        height: 54px;
      }
    }
  }
  @media screen and (max-width: size.$desktop_small) {
    grid-template-columns: 1fr;
    .card-wrapper:last-child:hover {
      background-color: themeColor.$primary;
      border-bottom-color: themeColor.$primary;
    }
    .card-wrapper {
      border-right: 1px solid themeColor.$secondary;
      border-bottom: none;
    }
    .card-wrapper:last-child {
      border-bottom: 1px solid themeColor.$secondary;
    }
    .card {
      width: calc(100% - 30px);
      height: calc(100% - 30px);

      .header {
        div {
          font-size: 32px;
        }
      }
    }
  }
}

.customer-info-bg {
  background: linear-gradient(
      0deg,
      rgba(1, 18, 41, 0.45),
      rgba(1, 18, 41, 0.45)
    ),
    url("../images/gallery_main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 85%;
  @media screen and (max-width: size.$desktop_small) {
    background-size: cover;
    background-position: 20% 0;
  }
}

.latest-news {
  display: grid;
  margin-top: size.$main_margin;
  gap: 140px;
  grid-template-columns: 1fr 3fr;
  .action-header {
    button {
      margin-top: 40px;
      width: 100%;
    }
    @media screen and (max-width: size.$tablet) {
      h2 {
        font-size: 36px;
      }
    }

    @media screen and (max-width: size.$phone) {
      h2 {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
  }
  @media screen and (max-width: size.$desktop_small) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: size.$phone) {
    grid-template-columns: 1fr;
    .news {
      grid-template-columns: 1fr;
    }
  }
}

.completed-projects {
  margin-top: size.$main_margin;
}
