@use "../components/container";
@use "../components/header";
@use "../utils/_global.scss";
@use "../utils/themeColor";
@use "../utils/size";
@use "../components/footer";
@use "../components/breadcrumb.scss";
@use "../utils/text";
@use "../components/badge";
@use "../components/swiper";
@use "../components/list";
@use "../components/gallery";

.swiper {
  --swiper-navigation-size: 0;
}
.product_card {
  display: grid;
  grid-template-columns: 60% calc(40% - 80px);
  gap: 80px;
  @media screen and (max-width: size.$desktop_small) {
    display: block;
  }
}

.nav-button {
  width: 30px;
  height: 30px;
  div{
    width: 6px;
    height: 12px;
  }
}

.swiper-with-nav {
  .nav-button-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 10;
  }

  .nav-button-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    z-index: 10;
    right: 0;
  } 
  position: relative;
  .swiper {
    height: 80px;
    position: relative;
  }

}

.product-main{
  .product-name{
    display: none;
  }
  @media screen and (max-width: size.$desktop_small) {
    .product-name{
      display: block;
    }
    .swiper-gallery-main{
      margin-top: 20px;
    }
  }
  @media screen and (max-width: size.$phone) {
    .gallery-main{
      img{
        width: 70%;
      }
    }
  }
}

.product-side{
  @media screen and (max-width: size.$desktop_small) {
    margin-top: 20px;
    .product-name{
      display: none;
    }
  }
}

.product-thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  img {
    width: 80%;
  }
  margin-top: 4px;
}

.gallery-main {
  background-color: themeColor.$secondary;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
  }
}

.product-description-header {
  display: flex;
  margin-top: 40px;
  position: relative;
  .item {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 15px;
    p {
      font-weight: 500;
      line-height: 25px;
    }
  }
  .item-active {
    border-bottom: 2px solid themeColor.$primary;
  }
}
.product-description-header::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  position: absolute;
  background-color: themeColor.$secondary;
  z-index: -1;
}

.product-description {
  margin-top: 35px;
}

.product-name {
  font-size: 32px;
  line-height: 40px;
}

.product-specs {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  .title {
    font-size: 14px;
  }
  .main {
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
    font-weight: 600;
  }
}

.product-feature {
  margin-top: 20px;
  padding-top: 20px;
}
.dotted-list {
  li {
    p {
      font-size: 14px;
    }
  }
}


.company-pros {
  .label-img {
    width: 45px;
    height: 45px;
    background-color: themeColor.$secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:nth-child(1) {
    img {
      width: 29px;
      height: 29px;
    }
  }
  .item:nth-child(2) {
    img {
      width: 27px;
      height: 27px;
    }
  }
  .item:nth-child(3) {
    img {
      width: 27px;
      height: 27px;
    }
  }
  .item {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    p {
      font-weight: 500;
    }
  }
}

.product-buttons {
  display: flex;
  gap: 5px;
  margin-top: 30px;
  button {
    width: 100%;
  }
  .white-button {
    background-color: themeColor.$secondary;
    color: rgba(9, 46, 71, 0.35);
  }
  @media screen and (max-width: size.$phone) {
    flex-direction: column;
  }
}

.product-stock {
  margin-top: 30px;
}
