@use "../components/container";
@use "../utils/themeColor";
@use "../components/image_overlay";
@use "../components/paginator";
@use "../components/breadcrumb";
@use "../components/items_grid";
@use "../utils/global";
@use "../components/badge";
@use "../utils/text";
@use "../utils/size";

.image-overlay {
  height: 580px;

  .body {
    padding: 20px;
  }
  @media screen and (max-width: size.$desktop_small) {
    height: 300;
    .image-wrapper {
      img {
        top: 0;
      }
    }
  }
  @media screen and (max-width: size.$tablet) {
    .image-wrapper {
      img {
        left: -25%;
      }
    }
  }
}

.description {
  margin-top: 30px;
  font-weight: 500;
  width: 75%;
}

@media screen and (max-width: size.$tablet) {
    .description {
        width: 100%;
      }
  }