@use "../components/container";
@use "../utils/themeColor";
@use "../components/image_overlay";
@use "../components/paginator";
@use "../components/breadcrumb";
@use "../components/news_grid";
@use "../utils/global";
@use "../components/badge";
@use "../utils/text";

.image-overlay{
    height: 580px;
    div:last-child{

        img{
            top: -25%;
        }
    }
    .body{
        padding: 20px;
    }
}

.description{
    margin-top: 30px;
    font-weight: 500;
    width: 75%;
}